Data/cxcr4aMO2_290112_substack.tif
Data/Data.zip
Data/HeLa_H2B-PAGFP_01_12_R3D_D3D.dv
Data/hsp-17 translational tail z-stack raw.lsm
Data/Image6AltFinal.tif
Data/Klee.jpg
Data/myoblast.tif
Data/neuron.tif
Data/virus_EM.tif
Data/30567/30567.tif
Data/BBBC007_v1_images/A9/A9 p5d.tif
Data/BBBC007_v1_images/A9/A9 p5f.tif
Data/BBBC007_v1_images/A9/A9 p7d.tif
Data/BBBC007_v1_images/A9/A9 p7f.tif
Data/BBBC007_v1_images/A9/A9 p9d.tif
Data/BBBC007_v1_images/A9/A9 p9f.tif
Data/BBBC007_v1_images/A9/A9 p10d.tif
Data/BBBC007_v1_images/A9/A9 p10f.tif
Data/BBBC007_v1_images/f113/AS_09125_040701150004_A02f00d0.tif
Data/BBBC007_v1_images/f113/AS_09125_040701150004_A02f00d1.tif
Data/BBBC007_v1_images/f96 (17)/17P1_POS0006_D_1UL.tif
Data/BBBC007_v1_images/f96 (17)/17P1_POS0006_F_2UL.tif
Data/BBBC007_v1_images/f96 (17)/17P1_POS0007_D_1UL.tif
Data/BBBC007_v1_images/f96 (17)/17P1_POS0007_F_2UL.tif
Data/BBBC007_v1_images/f96 (17)/17P1_POS0011_D_1UL.tif
Data/BBBC007_v1_images/f96 (17)/17P1_POS0011_F_2UL.tif
Data/BBBC007_v1_images/f96 (17)/17P1_POS0013_D_1UL.tif
Data/BBBC007_v1_images/f96 (17)/17P1_POS0013_F_2UL.tif
Data/BBBC007_v1_images/f96 (17)/17P1_POS0014_D_1UL.tif
Data/BBBC007_v1_images/f96 (17)/17P1_POS0014_F_2UL.tif
Data/BBBC007_v1_images/f9620/20P1_POS0002_D_1UL.tif
Data/BBBC007_v1_images/f9620/20P1_POS0002_F_2UL.tif
Data/BBBC007_v1_images/f9620/20P1_POS0005_D_1UL.tif
Data/BBBC007_v1_images/f9620/20P1_POS0005_F_2UL.tif
Data/BBBC007_v1_images/f9620/20P1_POS0007_D_1UL.tif
Data/BBBC007_v1_images/f9620/20P1_POS0007_F_2UL.tif
Data/BBBC007_v1_images/f9620/20P1_POS0008_D_1UL.tif
Data/BBBC007_v1_images/f9620/20P1_POS0008_F_2UL.tif
Data/BBBC007_v1_images/f9620/20P1_POS0010_D_1UL.tif
Data/BBBC007_v1_images/f9620/20P1_POS0010_F_2UL.tif
Data/BBBC007_v1_images/f9620/20P1_POS0011_D_1UL.tif
Data/BBBC007_v1_images/f9620/20P1_POS0011_F_2UL.tif
Data/BBBC013_v1_images_bmp/Channel1-01-A-01.BMP
Data/BBBC013_v1_images_bmp/Channel1-02-A-02.BMP
Data/BBBC013_v1_images_bmp/Channel1-03-A-03.BMP
Data/BBBC013_v1_images_bmp/Channel1-04-A-04.BMP
Data/BBBC013_v1_images_bmp/Channel1-05-A-05.BMP
Data/BBBC013_v1_images_bmp/Channel1-06-A-06.BMP
Data/BBBC013_v1_images_bmp/Channel1-07-A-07.BMP
Data/BBBC013_v1_images_bmp/Channel1-08-A-08.BMP
Data/BBBC013_v1_images_bmp/Channel1-09-A-09.BMP
Data/BBBC013_v1_images_bmp/Channel1-10-A-10.BMP
Data/BBBC013_v1_images_bmp/Channel1-11-A-11.BMP
Data/BBBC013_v1_images_bmp/Channel1-12-A-12.BMP
Data/BBBC013_v1_images_bmp/Channel1-13-B-01.BMP
Data/BBBC013_v1_images_bmp/Channel1-14-B-02.BMP
Data/BBBC013_v1_images_bmp/Channel1-15-B-03.BMP
Data/BBBC013_v1_images_bmp/Channel1-16-B-04.BMP
Data/BBBC013_v1_images_bmp/Channel1-17-B-05.BMP
Data/BBBC013_v1_images_bmp/Channel1-18-B-06.BMP
Data/BBBC013_v1_images_bmp/Channel1-19-B-07.BMP
Data/BBBC013_v1_images_bmp/Channel1-20-B-08.BMP
Data/BBBC013_v1_images_bmp/Channel1-21-B-09.BMP
Data/BBBC013_v1_images_bmp/Channel1-22-B-10.BMP
Data/BBBC013_v1_images_bmp/Channel1-23-B-11.BMP
Data/BBBC013_v1_images_bmp/Channel1-24-B-12.BMP
Data/BBBC013_v1_images_bmp/Channel1-25-C-01.BMP
Data/BBBC013_v1_images_bmp/Channel1-26-C-02.BMP
Data/BBBC013_v1_images_bmp/Channel1-27-C-03.BMP
Data/BBBC013_v1_images_bmp/Channel1-28-C-04.BMP
Data/BBBC013_v1_images_bmp/Channel1-29-C-05.BMP
Data/BBBC013_v1_images_bmp/Channel1-30-C-06.BMP
Data/BBBC013_v1_images_bmp/Channel1-31-C-07.BMP
Data/BBBC013_v1_images_bmp/Channel1-32-C-08.BMP
Data/BBBC013_v1_images_bmp/Channel1-33-C-09.BMP
Data/BBBC013_v1_images_bmp/Channel1-34-C-10.BMP
Data/BBBC013_v1_images_bmp/Channel1-35-C-11.BMP
Data/BBBC013_v1_images_bmp/Channel1-36-C-12.BMP
Data/BBBC013_v1_images_bmp/Channel1-37-D-01.BMP
Data/BBBC013_v1_images_bmp/Channel1-38-D-02.BMP
Data/BBBC013_v1_images_bmp/Channel1-39-D-03.BMP
Data/BBBC013_v1_images_bmp/Channel1-40-D-04.BMP
Data/BBBC013_v1_images_bmp/Channel1-41-D-05.BMP
Data/BBBC013_v1_images_bmp/Channel1-42-D-06.BMP
Data/BBBC013_v1_images_bmp/Channel1-43-D-07.BMP
Data/BBBC013_v1_images_bmp/Channel1-44-D-08.BMP
Data/BBBC013_v1_images_bmp/Channel1-45-D-09.BMP
Data/BBBC013_v1_images_bmp/Channel1-46-D-10.BMP
Data/BBBC013_v1_images_bmp/Channel1-47-D-11.BMP
Data/BBBC013_v1_images_bmp/Channel1-48-D-12.BMP
Data/BBBC013_v1_images_bmp/Channel1-49-E-01.BMP
Data/BBBC013_v1_images_bmp/Channel1-50-E-02.BMP
Data/BBBC013_v1_images_bmp/Channel1-51-E-03.BMP
Data/BBBC013_v1_images_bmp/Channel1-52-E-04.BMP
Data/BBBC013_v1_images_bmp/Channel1-53-E-05.BMP
Data/BBBC013_v1_images_bmp/Channel1-54-E-06.BMP
Data/BBBC013_v1_images_bmp/Channel1-55-E-07.BMP
Data/BBBC013_v1_images_bmp/Channel1-56-E-08.BMP
Data/BBBC013_v1_images_bmp/Channel1-57-E-09.BMP
Data/BBBC013_v1_images_bmp/Channel1-58-E-10.BMP
Data/BBBC013_v1_images_bmp/Channel1-59-E-11.BMP
Data/BBBC013_v1_images_bmp/Channel1-60-E-12.BMP
Data/BBBC013_v1_images_bmp/Channel1-61-F-01.BMP
Data/BBBC013_v1_images_bmp/Channel1-62-F-02.BMP
Data/BBBC013_v1_images_bmp/Channel1-63-F-03.BMP
Data/BBBC013_v1_images_bmp/Channel1-64-F-04.BMP
Data/BBBC013_v1_images_bmp/Channel1-65-F-05.BMP
Data/BBBC013_v1_images_bmp/Channel1-66-F-06.BMP
Data/BBBC013_v1_images_bmp/Channel1-67-F-07.BMP
Data/BBBC013_v1_images_bmp/Channel1-68-F-08.BMP
Data/BBBC013_v1_images_bmp/Channel1-69-F-09.BMP
Data/BBBC013_v1_images_bmp/Channel1-70-F-10.BMP
Data/BBBC013_v1_images_bmp/Channel1-71-F-11.BMP
Data/BBBC013_v1_images_bmp/Channel1-72-F-12.BMP
Data/BBBC013_v1_images_bmp/Channel1-73-G-01.BMP
Data/BBBC013_v1_images_bmp/Channel1-74-G-02.BMP
Data/BBBC013_v1_images_bmp/Channel1-75-G-03.BMP
Data/BBBC013_v1_images_bmp/Channel1-76-G-04.BMP
Data/BBBC013_v1_images_bmp/Channel1-77-G-05.BMP
Data/BBBC013_v1_images_bmp/Channel1-78-G-06.BMP
Data/BBBC013_v1_images_bmp/Channel1-79-G-07.BMP
Data/BBBC013_v1_images_bmp/Channel1-80-G-08.BMP
Data/BBBC013_v1_images_bmp/Channel1-81-G-09.BMP
Data/BBBC013_v1_images_bmp/Channel1-82-G-10.BMP
Data/BBBC013_v1_images_bmp/Channel1-83-G-11.BMP
Data/BBBC013_v1_images_bmp/Channel1-84-G-12.BMP
Data/BBBC013_v1_images_bmp/Channel1-85-H-01.BMP
Data/BBBC013_v1_images_bmp/Channel1-86-H-02.BMP
Data/BBBC013_v1_images_bmp/Channel1-87-H-03.BMP
Data/BBBC013_v1_images_bmp/Channel1-88-H-04.BMP
Data/BBBC013_v1_images_bmp/Channel1-89-H-05.BMP
Data/BBBC013_v1_images_bmp/Channel1-90-H-06.BMP
Data/BBBC013_v1_images_bmp/Channel1-91-H-07.BMP
Data/BBBC013_v1_images_bmp/Channel1-92-H-08.BMP
Data/BBBC013_v1_images_bmp/Channel1-93-H-09.BMP
Data/BBBC013_v1_images_bmp/Channel1-94-H-10.BMP
Data/BBBC013_v1_images_bmp/Channel1-95-H-11.BMP
Data/BBBC013_v1_images_bmp/Channel1-96-H-12.BMP
Data/BBBC013_v1_images_bmp/Channel2-01-A-01.BMP
Data/BBBC013_v1_images_bmp/Channel2-02-A-02.BMP
Data/BBBC013_v1_images_bmp/Channel2-03-A-03.BMP
Data/BBBC013_v1_images_bmp/Channel2-04-A-04.BMP
Data/BBBC013_v1_images_bmp/Channel2-05-A-05.BMP
Data/BBBC013_v1_images_bmp/Channel2-06-A-06.BMP
Data/BBBC013_v1_images_bmp/Channel2-07-A-07.BMP
Data/BBBC013_v1_images_bmp/Channel2-08-A-08.BMP
Data/BBBC013_v1_images_bmp/Channel2-09-A-09.BMP
Data/BBBC013_v1_images_bmp/Channel2-10-A-10.BMP
Data/BBBC013_v1_images_bmp/Channel2-11-A-11.BMP
Data/BBBC013_v1_images_bmp/Channel2-12-A-12.BMP
Data/BBBC013_v1_images_bmp/Channel2-13-B-01.BMP
Data/BBBC013_v1_images_bmp/Channel2-14-B-02.BMP
Data/BBBC013_v1_images_bmp/Channel2-15-B-03.BMP
Data/BBBC013_v1_images_bmp/Channel2-16-B-04.BMP
Data/BBBC013_v1_images_bmp/Channel2-17-B-05.BMP
Data/BBBC013_v1_images_bmp/Channel2-18-B-06.BMP
Data/BBBC013_v1_images_bmp/Channel2-19-B-07.BMP
Data/BBBC013_v1_images_bmp/Channel2-20-B-08.BMP
Data/BBBC013_v1_images_bmp/Channel2-21-B-09.BMP
Data/BBBC013_v1_images_bmp/Channel2-22-B-10.BMP
Data/BBBC013_v1_images_bmp/Channel2-23-B-11.BMP
Data/BBBC013_v1_images_bmp/Channel2-24-B-12.BMP
Data/BBBC013_v1_images_bmp/Channel2-25-C-01.BMP
Data/BBBC013_v1_images_bmp/Channel2-26-C-02.BMP
Data/BBBC013_v1_images_bmp/Channel2-27-C-03.BMP
Data/BBBC013_v1_images_bmp/Channel2-28-C-04.BMP
Data/BBBC013_v1_images_bmp/Channel2-29-C-05.BMP
Data/BBBC013_v1_images_bmp/Channel2-30-C-06.BMP
Data/BBBC013_v1_images_bmp/Channel2-31-C-07.BMP
Data/BBBC013_v1_images_bmp/Channel2-32-C-08.BMP
Data/BBBC013_v1_images_bmp/Channel2-33-C-09.BMP
Data/BBBC013_v1_images_bmp/Channel2-34-C-10.BMP
Data/BBBC013_v1_images_bmp/Channel2-35-C-11.BMP
Data/BBBC013_v1_images_bmp/Channel2-36-C-12.BMP
Data/BBBC013_v1_images_bmp/Channel2-37-D-01.BMP
Data/BBBC013_v1_images_bmp/Channel2-38-D-02.BMP
Data/BBBC013_v1_images_bmp/Channel2-39-D-03.BMP
Data/BBBC013_v1_images_bmp/Channel2-40-D-04.BMP
Data/BBBC013_v1_images_bmp/Channel2-41-D-05.BMP
Data/BBBC013_v1_images_bmp/Channel2-42-D-06.BMP
Data/BBBC013_v1_images_bmp/Channel2-43-D-07.BMP
Data/BBBC013_v1_images_bmp/Channel2-44-D-08.BMP
Data/BBBC013_v1_images_bmp/Channel2-45-D-09.BMP
Data/BBBC013_v1_images_bmp/Channel2-46-D-10.BMP
Data/BBBC013_v1_images_bmp/Channel2-47-D-11.BMP
Data/BBBC013_v1_images_bmp/Channel2-48-D-12.BMP
Data/BBBC013_v1_images_bmp/Channel2-49-E-01.BMP
Data/BBBC013_v1_images_bmp/Channel2-50-E-02.BMP
Data/BBBC013_v1_images_bmp/Channel2-51-E-03.BMP
Data/BBBC013_v1_images_bmp/Channel2-52-E-04.BMP
Data/BBBC013_v1_images_bmp/Channel2-53-E-05.BMP
Data/BBBC013_v1_images_bmp/Channel2-54-E-06.BMP
Data/BBBC013_v1_images_bmp/Channel2-55-E-07.BMP
Data/BBBC013_v1_images_bmp/Channel2-56-E-08.BMP
Data/BBBC013_v1_images_bmp/Channel2-57-E-09.BMP
Data/BBBC013_v1_images_bmp/Channel2-58-E-10.BMP
Data/BBBC013_v1_images_bmp/Channel2-59-E-11.BMP
Data/BBBC013_v1_images_bmp/Channel2-60-E-12.BMP
Data/BBBC013_v1_images_bmp/Channel2-61-F-01.BMP
Data/BBBC013_v1_images_bmp/Channel2-62-F-02.BMP
Data/BBBC013_v1_images_bmp/Channel2-63-F-03.BMP
Data/BBBC013_v1_images_bmp/Channel2-64-F-04.BMP
Data/BBBC013_v1_images_bmp/Channel2-65-F-05.BMP
Data/BBBC013_v1_images_bmp/Channel2-66-F-06.BMP
Data/BBBC013_v1_images_bmp/Channel2-67-F-07.BMP
Data/BBBC013_v1_images_bmp/Channel2-68-F-08.BMP
Data/BBBC013_v1_images_bmp/Channel2-69-F-09.BMP
Data/BBBC013_v1_images_bmp/Channel2-70-F-10.BMP
Data/BBBC013_v1_images_bmp/Channel2-71-F-11.BMP
Data/BBBC013_v1_images_bmp/Channel2-72-F-12.BMP
Data/BBBC013_v1_images_bmp/Channel2-73-G-01.BMP
Data/BBBC013_v1_images_bmp/Channel2-74-G-02.BMP
Data/BBBC013_v1_images_bmp/Channel2-75-G-03.BMP
Data/BBBC013_v1_images_bmp/Channel2-76-G-04.BMP
Data/BBBC013_v1_images_bmp/Channel2-77-G-05.BMP
Data/BBBC013_v1_images_bmp/Channel2-78-G-06.BMP
Data/BBBC013_v1_images_bmp/Channel2-79-G-07.BMP
Data/BBBC013_v1_images_bmp/Channel2-80-G-08.BMP
Data/BBBC013_v1_images_bmp/Channel2-81-G-09.BMP
Data/BBBC013_v1_images_bmp/Channel2-82-G-10.BMP
Data/BBBC013_v1_images_bmp/Channel2-83-G-11.BMP
Data/BBBC013_v1_images_bmp/Channel2-84-G-12.BMP
Data/BBBC013_v1_images_bmp/Channel2-85-H-01.BMP
Data/BBBC013_v1_images_bmp/Channel2-86-H-02.BMP
Data/BBBC013_v1_images_bmp/Channel2-87-H-03.BMP
Data/BBBC013_v1_images_bmp/Channel2-88-H-04.BMP
Data/BBBC013_v1_images_bmp/Channel2-89-H-05.BMP
Data/BBBC013_v1_images_bmp/Channel2-90-H-06.BMP
Data/BBBC013_v1_images_bmp/Channel2-91-H-07.BMP
Data/BBBC013_v1_images_bmp/Channel2-92-H-08.BMP
Data/BBBC013_v1_images_bmp/Channel2-93-H-09.BMP
Data/BBBC013_v1_images_bmp/Channel2-94-H-10.BMP
Data/BBBC013_v1_images_bmp/Channel2-95-H-11.BMP
Data/BBBC013_v1_images_bmp/Channel2-96-H-12.BMP
Data/channels/channels1.tif
Data/channels/channels2.tif
